@import "tailwindcss";

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

@theme {
  --color-white-light: #ffffffb3;
  --color-purpule-dark: #8b307f;
  --color-purpule-light: #93278f;
  --color-orange-dark: #f7931e;
  --color-light-gray: #5f5f5f;
  --color-border-gary: #00000033;
  --z-index: 999;
  --padding-top: 18vw;
  --padding-bottom: 20vw;
}

.container {
  width: 100%;
  max-width: 83.75vw;
  margin: 0 auto;
}
