@import "tailwindcss";

html,
body {
  margin: 0;
  padding: 0;
}

@theme {
  --color-white-light: #ffffffb3;
  --color-purpule-dark: #8b307f;
  --color-purpule-light: #93278f;
  --color-orange-dark: #f7931e;
  --color-light-gray: #5f5f5f;
  --color-border-gary: #00000033;
  --color-gray: #1e1e1e;
  --color-gray-footer: #eaeaea;
  --color-gray-line: #d9d9d9;
  --color-gray-lightest: #c0c0c0;
  --color-gray-dark: #181818;
  --color-base-black: #161616;
  --color-blue-primary: #7300f1;
  --z-index: 999;
  --padding-top: 18vw;
  --padding-bottom: 20vw;
}

.container {
  width: 100%;
  max-width: 83.75vw;
  margin: 0 auto;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
